{
  "extends": ["./node_modules/gts/"],
  "plugins": ["istanbul", "consistent-default-export-name"],
  "rules": {
    "istanbul/prefer-ignore-reason": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "max-depth": ["error", 2],
    "max-lines-per-function": ["error", 30],
    "max-params": ["error", 3],
    "max-lines": ["error", 300],
    "consistent-default-export-name/default-export-match-filename": "error",
    "consistent-default-export-name/default-import-match-filename": "error",
    "no-warning-comments": ["error", {"terms": ["todo", "fixme"]}]
  },
  "overrides": [
    {
      "files": ["src/index.ts"],
      "rules": {
        "consistent-default-export-name/default-export-match-filename": "off"
      }
    },
    {
      "files": ["src/auth/refreshErrorHandler.ts"],
      "rules": {
        "max-params": "off"
      }
    },
    {
      "files": ["tests/**/*.ts"],
      "rules": {
        "node/no-unpublished-import": [
          "error",
          {
            "allowModules": [
              "chai",
              "chai-string",
              "chai-http",
              "faker",
              "deep-equal-in-any-order",
              "sinon-chai",
              "sinon",
              "chai-as-promised"
            ]
          }
        ],
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  }
}
